<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mystudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".popupWindow.PopupWindowActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loadButton.LoadButtonActivity" />
        <activity android:name=".itemDecoration.ItemDecorationActivity" />
        <activity android:name=".itemDecoration.DividerActivity" />
        <activity android:name=".itemDecoration.ColorDividerActivity" />
        <activity android:name=".itemDecoration.TimelineActivity" />
        <activity android:name=".itemDecoration.BookRankActivity" />
        <activity android:name=".itemDecoration.HeaderActivity" />
        <activity android:name=".itemDecoration.StickyHeaderActivity" />
        <activity android:name=".cehuaDemo.CehuaActivity" />
        <activity android:name=".expandableLinearLayout.ExpandableActivity" />
        <activity android:name=".expandableLinearLayout.EllDefaultBottomDemoActivity" />
        <activity android:name=".expandableLinearLayout.EllCustomBottomDemoActivity" />
        <activity android:name=".ncalendardemo.NCalendarActivity" />
        <activity android:name=".ncalendardemo.MonthCalendarActivity" />
        <activity android:name=".ncalendardemo.WeekCalendarActivity" />
        <activity android:name=".ncalendardemo.MonthAndWeekCalendarActivity"></activity>
    </application>

</manifest>